@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-5">
        <partial name="~/Views/Shared/_Register.cshtml" />
    </div>
    <div class="col-md-5">
        <partial name="~/Views/Shared/_Login.cshtml" />
    </div>
</div>